<mat-sidenav-container class="sidenav-container">
    <mat-sidenav
        #sidenav
        mode="side"
        [(opened)]="opened"
        [fixedInViewport]="true"
        class="sidenav"
    >
        <app-header>
            <button
                mat-icon-button
                id="toggle-button"
                (click)="sidenav.toggle()"
            >
                <mat-icon *ngIf="opened">chevron_left</mat-icon>
                <mat-icon *ngIf="!opened">chevron_right</mat-icon>
            </button>
        </app-header>
        <app-footer></app-footer>
    </mat-sidenav>

    <mat-sidenav-content [ngClass]="{ 'sidenav-closed': !opened }">
        <router-outlet></router-outlet>
    </mat-sidenav-content>
</mat-sidenav-container>